html {

    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}

.title {
    font-family: 'Oswald', sans-serif;
}

.wrapper {
    overflow-x: hidden;
    padding: 10px;
}

.item {
    max-width: 600px;
}

.reqbtn {
    --bs-btn-padding-x: 1.75rem;
    --bs-btn-padding-y: 0.575rem;

}
.firstscreen {
    min-height: 100vh;
}

/* .advantages {
    padding: 100px 0
}

.advantages__title {
    margin-bottom: 2em;
    line-height: 1.2;
}

.advantages__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px
}

.advantages__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
    padding: 0 15px;
    margin-bottom: 40px
}

.advantages__label {
    display: inline-block;
    position: relative;
    font-size:30px;
    padding-bottom: 3px;
    margin-bottom: 1em
}

.advantages__label::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #000
}

.advantages__text {
    font-size: 20px;
    line-height: 1.2
} */
.title {
    font-size: 40px;
    margin-bottom: 100px;
}
.title-t {
    margin-bottom: 40px;
}

.contacts {
    padding-bottom: 100px;
}
.contacts a{
    display: inline-block;
    font-size: 40px;
    color: #000;
    transition: all .3s ease;
}
.contacts a:hover {
    text-decoration: none;
    color: #0d6efd;
}
.title {
}
.contacts__items {
    display: flex;
    justify-content: space-between;
}
.btn {
}
.btn-primary {
}
.reqbtn {
}

@media screen and (max-width: 1000px) {
    .advantages__item {
        -ms-flex: 0 1 49%;
        flex: 0 1 49%;
    }
    .contacts__items {
        display: flex;
        flex-direction: column;

    }
    .contacts a {
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 767px) {
    .advantages__item {
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
    }
}
@media screen and (max-width: 400px) {
    .contacts a {
       font-size: 30px;
    }
}

.status {
    color: green;
    margin-right: 15px;
}
.textBlock {
padding: 100px 0;

}
.textBlock ul{
    line-height: 1.2;
}
.textBlock ul li{
    margin-bottom: 40px;
}
.textBlock ul li span{
    font-weight: 500;
}
